.loading-progress {
  border-radius: 10px;
}

.layoutLoadingProgressBarContainer {
  padding-bottom: 0;	
  white-space: nowrap;	
  overflow: hidden;	
  text-overflow: ellipsis;
}

.currentLoadingStep {
  margin: 0;
  font-style: italic; 
  padding-bottom:0 ;	
  white-space: nowrap;	
  overflow: hidden;	
  text-overflow: ellipsis;
}

.loadingInfo_msgBox {
  padding-bottom: 0;
  padding-top:0
}

.svgStringText {
  font-size:9px;
}

.svgStringText-path {
  fill : #444; 
  stroke-width:0;
}

.reloadCachedOntologyString{
  font-style: italic;
  font-size: 10px
}

.drag_svg {
  position: absolute; 
  left:25%;
  top:25%;
  width:50%; 
  height:50%
}

.drag_icon {
  fill : #444; 
  stroke-width:0;
}

.drag_icon_drop {
  fill : #444; 
  stroke-width:0;
}

.drag_msg_text {
  font-size:14px
}

.emptyContainer-empty {
  pointer-events:none; 
  padding-left:0
}

.searchIcon-svg {
  pointer-events: none; 
  display: block;
}

.magnifyingGlass {
  fill : #666; 
  stroke-width:0;
}

.locateSearchResult {
  padding: 0 8px 5px 8px;
}

.menuElementSvgElement-path {
  fill : #fff; 
  stroke-width:0;
}